<section class="container mt-4">
    <article class="card shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col-6"> 
                    <h3 style="color:#593E3C">{{ weatherItem.cityName }}</h3>
                    <p class="info text-secondary card-text"> {{weatherItem.description}}</p>
                </div>
                <div class="col-6">
                    <div class="temprature text-right" style="color:#D19F9C">{{weatherItem.temprature}}'C</div>
                </div>
            </div>
            
        </div>
        
    </article>
</section>
