<div >
    <form (ngSubmit)='onSubmit()' class="input-group mb-3">
        <input type="text" class="form-control" placeholder="city name" name="location" (input)='onSearchingForLocation(cityName.value)' #cityName required>
        <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">add city</button>
        </div>
    </form>
    <div class="mx-auto">
        <span>city found:  {{cityNameFound}}  </span>
    </div>

    

    <button (click)='saveNew()'>Save for quick reach later</button>
    
</div>