<div>
<header class="container-fluid">
    <div class="p-5">
        <app-side-bar></app-side-bar>
        <h1 class="text-center display-2">welcome to Wethero </h1>
        <p class="text-center" style="font-size:30px;padding: 0 280px 0;font-weight: 300;">weather application where you can easily become ready any time</p>
    </div>
    
    
</header>
<div class="body">
    <div class="row">
            <div class="">
                <div class="container">
                    <app-weather-search></app-weather-search>
                </div>  
            </div> 
        
    </div>
    <div class="row">
        <app-weather-list></app-weather-list>
    </div>
    
    
</div>

</div>